
*{
    background-color: #FFFCF9;
}


.bg-scooter{
    background-color: #EF8D21;
    
}

.scot-color {
color: #EF8D21;
}

.rent{
    color: #2D5C7D;
}

.bike-position{
    left: 50%;
}

.bg-po{

padding-top: 300px;



}